.main_top{
  text-align: center;
  max-width: 950px;
  margin: 140px auto 0;
  padding: 0 40px;
}
.ttl{
  font-size: 50px;
  font-family: "Times New Roman";
  animation: 6s linear 0s fade_in;
}


.ja_sentence{
  margin-top: 130px;
}
.sentence{
  font-size: 14px;
  line-height: 24px;
  font-family: "Times New Roman";
  animation: 6s linear 0s fade_in;
}

.en_sentence{
  margin-top: 40px;
  font-family: "Times New Roman";
  animation: 4s linear 0s fade_in;
}


@keyframes fade_in{
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

