.ttl_strong{
  font-size: 50px;
  font-family: "Times New Roman";
  animation: 3s linear 0s fade_in;
  margin-bottom: 50px;
}

.strong_photo{
  height: 300px;
  width: 100%;
  background-image: url(3772245.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  box-shadow: inset -120px 0 300px 50px #fff;
  border-radius: 70%;
}
.ja_sentence_strong{
  margin-top: 50px;
}

