.ttl_why{
  font-size: 50px;
  font-family: "Times New Roman";
  animation: 4s linear 0s fade_in;
  margin-bottom: 50px;
}

.why_photo{
  height: 300px;
  width: 100%;
  background-image: url(3299279_s.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  box-shadow: inset -200px 0 200px 30px #fff;
  border-radius: 70%;
}
.ja_sentence_why{
  margin-top: 50px;
}

