%section#main_top.main_top
  %h1.ttl
    portfolio
  .ja_sentence
    %p.sentence
      【テックキャンプでの学習経験】
    %p.sentence
      HTML・CSS・Ruby・Ruby on Rails・JavaScript・jQuery
    %p.sentence
      SQL・Git・ GitHub・Haml・SCSS・AWS　等の技術を用いたアプリケーション開発
    %p.sentence
      ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
  .en_sentence
    %p.sentence
      【デジタルハリウッド・オンラインスクールでの学習経験】
    %p.sentence
      Illustrator/Photoshop/HTML/Dreamweaver
    %p.sentence
      After Effects/Premiere/InDesign実習