%section#main_top.main_top
  %h1.ttl{:style=>"opacity:1;"}
    portfolio
  .ja_sentence{:style=>"opacity:1;"}
    %p.sentence
      仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮
    %p.sentence
      仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮
    %p.sentence
      仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮
    %p.sentence
      仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮
  .en_sentence{:style=>"opacity:1;"}
    %p
      仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮
    %p
      仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮
    %p
      仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮
    %p
      仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮仮