.general_wrapper
  %header#header.header
    %js-header.nav_btn
      //:before
      %span.center_btn
      /::after
    %nav#js_menu.header_nav
      %ul.head_menu
        %li.head_menu_list
          %a.top_back{:href => "/port/index"}
            HOME
        %li.head_menu_list
          %a.top_list{:href => "/port/why"}
            why
        %li.head_menu_list
          %a.top_list{:href => "/port/study"}
            study
        %li.head_menu_list
          %a.top_list{:href => "/port/job"}
            job
        %li.head_menu_list
          %a.top_list{:href => "/port/strong"}
            strong
        %li.head_menu_list
          %a.top_list{:href => "/port/hobby"}
            hobby