.general_wrapper
  %header#header.header
    %js-header.nav_btn
      //:before
      %span.center_btn
      /::after
    %nav#js_menu.header_nav
      %ul.head_menu
        %li.head_menu_list
          %a.top_back{:href => ""}
            ×
        %li.head_menu_list
          %a.top_list{:href => ""}
            why
        %li.head_menu_list
          %a.top_list{:href => ""}
            study
        %li.head_menu_list
          %a.top_list{:href => ""}
            job
        %li.head_menu_list
          %a.top_list{:href => ""}
            strong
        %li.head_menu_list
          %a.top_list{:href => ""}
            hobby