= render "top"
%section#main_top.main_top
  %h1.ttl_hobby
    hobby
  .hobby_photo
  .ja_sentence_hobby
    %p.sentence
      映画や海外ドラマを見ることや旅行が好きです
    %p.sentence
      最近はゲーム・オブ・スローンズと
    %p.sentence
      イエスタディを見ました。
    %p.sentence
      