= render "top"
%section#main_top.main_top
  %h1.ttl_job
    job
  .job_photo
  .ja_sentence_job
    %p.sentence
      身に付けたスキルを活かせるところ
    %p.sentence
      また、複数人で目標に向かって
    %p.sentence
      協力し合いながら成果を求めて
    %p.sentence
      成長できるところ