= render "top"
%section#main_top.main_top
  %h1.ttl_strong
    strong
  .strong_photo
  .ja_sentence_strong
    %p.sentence
      前職での接客経験から、課題発見力と観察力が
    %p.sentence
      身についた為、非言語から気持ちを汲み取る力が
    %p.sentence
      あると思っています
    %p.sentence
      