= render "top"
%section#main_top.main_top
  %h1.ttl_study
    study
  .study_photo
  .ja_sentence_study
    %p.sentence
      Java Silverの資格を取得する為の勉強をしています。
    %p.sentence
      また、気になるWebサイトを目にした際は、
    %p.sentence
      検証ツールでどのような作りになっているか
    %p.sentence
      チェックしています
  