= render "top"
%section#main_top.main_top
  %h1.ttl_why
    why
  .why_photo
  .ja_sentence_why
    %p.sentence
      プログラミングを学習する中で
    %p.sentence
      CSSでの微調整やJavaScriptでどのように変化をつけるかを
    %p.sentence
      考えることが楽しいと感じた為
    %p.sentence
      また、画像を加工することが昔から好きだった為